section.hero-area{
    background: url('../../images/bg-illustration.svg') no-repeat center center / cover;
    position: relative;
}

.left-hero-area{
    z-index: 1;
}

.animationOne{
    position: absolute;
    bottom: 50px;
    -webkit-animation: move-two 8s ease-in-out infinite;
    animation: move-two 8s ease-in-out infinite;
    left: -10px;
}

@keyframes move-one {
    0% {
        -webkit-transform: translateX(0) translateY(5px);
        transform: translateX(0) translateY(5px)
    }
    50% {
        -webkit-transform: translateX(0) translateY(-5px);
        transform: translateX(0) translateY(-5px)
    }
    100% {
        -webkit-transform: translateX(0) translateY(5px);
        transform: translateX(0) translateY(5px)
    }
}
@-webkit-keyframes move-one {
    0% {
        -webkit-transform: translateX(0) translateY(5px);
        transform: translateX(0) translateY(5px)
    }
    50% {
        -webkit-transform: translateX(0) translateY(-5px);
        transform: translateX(0) translateY(-5px)
    }
    100% {
        -webkit-transform: translateX(0) translateY(5px);
        transform: translateX(0) translateY(5px)
    }
}

.animationTwo{
    -webkit-animation: move-one 7s ease-in-out infinite;
    animation: move-one 7s ease-in-out infinite;
}


@-webkit-keyframes move-two {
    0% {
        -webkit-transform: translateX(-25px) translateY(-225px);
        transform: translateX(-25px) translateY(-225px)
    }
    50% {
        -webkit-transform: translateX(-25px) translateY(-205px);
        transform: translateX(-25px) translateY(-205px)
    }
    100% {
        -webkit-transform: translateX(-25px) translateY(-225px);
        transform: translateX(-25px) translateY(-225px)
    }
}
@keyframes move-two {
    0% {
        -webkit-transform: translateX(-25px) translateY(-225px);
        transform: translateX(-25px) translateY(-225px)
    }
    50% {
        -webkit-transform: translateX(-25px) translateY(-205px);
        transform: translateX(-25px) translateY(-205px)
    }
    100% {
        -webkit-transform: translateX(-25px) translateY(-225px);
        transform: translateX(-25px) translateY(-225px)
    }
}


button.header-btn {
    background-color: #ff6492;
    color: #FFFFFF;
    padding: 10px 21px;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
    transition: .3s;
    border: 1px solid transparent;
    font-weight: 600;
}

button.header-btn:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.hero-bottom-shape{
    position: absolute;
    background: url('../../images/hero-bottom-shape.svg')no-repeat bottom center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


section.featured-services{
    background: #f7f6fa;
}

.featured-title h3::after, 
.team-title h3::after {
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: #ff6492;
    content: "";
    top: 60px;
    right: 0px;
    left: 0px;
    margin: auto;
    bottom: 0;
}