/* Header Area Styles*/
header.head{
    background: linear-gradient(75deg, #1351a8 5%, #162e66);
}

nav{
    margin-top: 5px;
}

nav a{
    transition: .5s;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #ff6492;
}


/******Responsive Styles*******/
@media screen and (max-width: 767px){
    .logo {
        text-align: center;
    }
    nav {
        text-align: center !important;
    }
}

@media screen and (max-width: 371px){
    nav a {
        font-size: 11px;
        padding: 5px !important;
        margin: 5px !important;
    }
}

